.redes-sociales {
    background: #1e2b38;
    padding: 60px 0;
}

.contenedor {
    display: flex;
    justify-content: center
}

a {
    color: #fff;
    text-align: center;
    width: 100px;
    font-size: 30px;
    padding: 15px 0;
    display: block;
    margin: 0 20px;
    border-radius: 3px;
}

.twitter:hover {
    background: #55acee;
}

.facebook:hover {
    background: #3b5998;
}

.youtube:hover {
    background: #cd201f;
}

.instagram:hover {
    background: #C13584;
}

.footer {
    bottom: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}