<div class="container contenedor redondear">
    <div class="row align-items-stretch altura">
        <div class="col-2 align-items-center justify-content-center">
            <div class="">
                <a class="" href="#"><img src="../../../assets/img/logo/logo.png" width="100px" alt="NavBar">
                </a>
            </div>
        </div>
        <div class="col-8 ">

            <form class=" ">
                <div class=" container">
                    <div class="row contenedorform align-items-center ">
                        <div class="col-10 d-flex">
                            <input class=" input redondear" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col-2 ">
                            <button class=" btn btn-outline-success boton" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2 d-flex altura align-items-center justify-content-center">
            <a class="" href="#"><i class="fas fa-cart-plus icono"> Añadir</i>
            </a>

        </div>
    </div>

</div>