<div *ngIf="vacio" class="container marg">
    <div class="caja bg-alerta aling-items-center">
        <h2>Aun no tienes productos agregados al carrito</h2>

    </div>
    <p></p>
    <button type="button" class="btn btn-primary btn-block" (click)="regresar()">Regresar</button>
    <div></div>

</div>
<div [ngClass]="margenes" *ngIf="!vacio" class="container justify-content-centerng ">
    <h3 class="text-center mt-5 titulo">
        Lista de compras</h3>

    <table class="table mt-5 a">

        <tr class="total">
            <th>Imagen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <!--<th *ngIf="!can">Cantidad</th>
            <th *ngIf="can">Editar</th>-->
            <th>Total</th>
            <th> Opciones</th>
        </tr>


        <tr *ngFor="let pro of carritos" class="tabla">

            <td><img src="{{pro.imagen}}" class=" border img-thumbnail" width="100px" alt="..."></td>
            <td>{{pro.producto}}</td>
            <td>{{pro.precio | currency}}</td>
            <td *ngIf="!(can && pro.idProducto==inputId)">{{pro.cantidad}}</td>

            <td *ngIf="can && pro.idProducto==inputId">
                <div>
                    <input class="col-3" style="width: 70px;" #cantidad (change)="edite(pro,cantidad.value)" type="number" requiered min="0" class="form-control" placeholder="{{pro.cantidad}}">
                </div>
            </td>
            <td>{{(pro.precio * pro.cantidad) | currency}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="edita(pro.idProducto)">Editar</button> &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" (click)="borrar(pro)">Borrar</button>
            </td>

        </tr>
    </table>

    <p class="total"> TOTAL: {{total}}</p>
    <button type="button" class="btn btn-primary d-block mt-5 mb-5" (click)="guardar()">Comprar</button>


</div>