.titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
}

.ancho {
    width: 50px;
}

.total {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    background-color: #1e2b38;
    color: white;
}

.tabla {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
}