.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.bgazulclaro {
    background-color: #1e2b38;
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
}

.margen {
    margin-top: 20px;
    margin-bottom: 20px;
}